<div class="container mx-auto">
  {{!-- top section --}}
  <header class="row">
    <div class="col text-center mb-5">
      <h1 class="header-text p-3 mb-3">Burgers!</h1>
      <img src="/assets/hamburger.jpg" width="400px" alt="hamburger image" class="circle_img">
    </div>
  </header>

  <main class="row mb-5">
    {{!-- left hand "undevoured" side --}}
    <section class="col-md-6  text-center">
      <ul class="list-unstyled">
        {{#each burgers}}
          {{#unless this.devoured}}
        <li>
          <p>
            &smashp;{{this.id}}&smashp; {{this.burger_name}}

            <button class="id btn btn-gradient" data-value="{{this.id}}" type="submit">Devour It!</button>
          </p>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </section>

    {{!-- right hand "devoured" side --}}
    <section class="col-md-6 text-center">
<ul class="list-unstyled">
        {{#each burgers}}
          {{#if this.devoured}}
        <li>
          <p>
            &smashp;{{this.id}}&smashp; {{this.burger_name}}
          </p>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </section>
  </main>

  {{!-- bottom section with button and input --}}
  <section class="row">
    {{!-- on submit, run create in burger.js --}}
    <form class="mx-auto" action="/burger/create" id="new-burger-form" method="POST">
      <input type="text" name="burger_name" id="text">
      <button class="btn btn-gradient" type="submit" id="new-burger-button">Create new burger</button>
    </form>
  </section>


  {{!-- end container --}}
</div>