<div class="container mx-auto">
  {{!-- top section --}}
  <header class="row">
    <div class="col text-center">
      <h1 class="mb-3">Burgers!</h1>
      <img src="https://images.unsplash.com/photo-1564362411991-472954b39f56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" width="300 px" alt="burger image">
    </div>
  </header>

  <main class="row">
    {{!-- left hand "undevoured" side --}}
    <section class="col-md-6">
      <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
        <li>
          <p>
            {{this.id}}. {{this.burger_name}}

            <button data-value="{{this.id}}" class="id" type="submit">Devour It!</button>
          </p>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </section>

    {{!-- right hand "devoured" side --}}
    <section class="col-md-6">
<ul>
        {{#each burgers}}
          {{#if this.devoured}}
        <li>
          <p>
            {{this.id}}. {{this.burger_name}}
          </p>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </section>
  </main>

  {{!-- bottom section with button and input --}}
  <section class="row">
    {{!-- on submit, run create in burger.js --}}
    <form action="/burger/create" id="new-burger-form" method="POST">
      <input type="text" name="burger_name" id="text">
      <button type="submit" id="new-burger-button">Create new burger</button>
    </form>
  </section>


  {{!-- end container --}}
</div>